body{
    background-color: #FFFFFF;
}
.header {
  position: fixed;           /* stick to top */
  top: 0;                    
  width: 1000px;
  left: 224px;               /* start 200px from left */                 
  height: 85px;
  background-color: #FFFFFF;
  border-bottom: black;
  display: flex;
  justify-content: flex-end;
  top:0px;
  align-items: center;
  padding: 0 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;             /* stay above other content */
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Bell Icon */
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.icon {
  font-size: 18px;
  color: black;
}

/* Profile Picture */
.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

/* Logout Button */
.logout-btn {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  color: black;
}

.logout-btn:hover {
  background-color: #ddd;
}
